.flex-container {
    display: flex;
    margin-left: auto;
}

.raisedButton-override { 
    height: 50%; 
    margin-left: 20px;
}

.textField-override {
    margin: 10;
    margin-left: 20px;
}

.icon-override {
     position: absolute;
     right: 0px;
     top: 15px;
     width: 20px;
     height: 20px;
     color: #9e0000;
     cursor: pointer;
}

.list-item {
    position: relative; 
    display: inline-block ;
}


