.flex-container {
    display: flex;
    margin-left: auto;
}

.raisedButton-override { 
    height: 50% !important; 
    margin-left: 20px;
}

.textField-override {
    margin: 10 !important;
    margin-left: 20px;
}
