.pallete-buttons-container {
    display: flex;
}

.pallete-arrow-button {
    cursor: pointer;
    flex-grow: 1;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #009999;
}

.pallete-arrow-button :hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.pallete-menu-button {
    flex-grow: 8;
}

.pallete-arrow-self {
     width: 2em !important;
    height: 2em !important;  
}

.pallete-tools-container {
    background: #daeded !important;
    border: 1px solid black;
}