.tableHeader{
background-color: #00BCD4;
}

.tagBorder {
    border-top: 2px solid rgb(0, 0, 0);
}

.sequence-table-row {
    border-top: 2px solid rgb(0, 0, 0);
    cursor: pointer;
    background-color: #daeded;
}

.table-row-column {
    white-space: normal;
    word-wrap: break-word;
}

.table-row-tag-column {
    color: black;
}

.expandable-icon {
    margin-left: -5px;
    width: 2em;
    height: 2em;
}

.plain-link {
   cursor: pointer;
}

.plain-link:hover {
   color: gray;
}

.plain-link:hover .show-comment-on-hover {
    display: block;
}

.show-comment-on-hover{
    color: black !important;
    display: none;
    position: absolute;
    text-align: center;
    width: 15%;
    word-wrap: break-word;
    background-color: #daeded;
    border: 1px solid #009999;
    margin-top: 1.5rem;
    margin-left: -1.5em;
    padding: 0.7%;
    cursor: pointer;
    z-index: 1;
}

.row-icon {
    cursor: pointer;
    margin-right: 10px;
    vertical-align: middle;
}

.row-icon-done {
    fill: #00ff00 !important;
}

.row-icon-edit {
    fill: #3385ff !important;
}

.row-icon-delete {
    fill: #ff3333 !important;
}

.row-icon-help {
    cursor: pointer;
    fill: #ff0000!important;
    width: 1.2em!important;
    margin-right: 5px;
    margin-left: -20px;
    margin-bottom: -5px;
}
