.tabs {
    flex-grow: 1;
}

.container {
    margin: 0 3%;
}

#simpleOrHierarchical{
    width: 100%;
    margin: 2em 0em !important;
    display: flex;
}

.raisedButton-override { 
    height: 50% !important; 
}

.disabled-tab {
    color: grey !important; 
    cursor: not-allowed !important;
}

.enabled-tab {
    color: #009999 !important; 
    cursor: pointer !important;
}

.file-name-h1 {
    padding: 2%;
    text-align: center;
}