.tabs {
    flex-grow: 1;
}

.container {
    margin: 0 3%;
}

#simpleOrHierarchical{
    width: 100%;
    margin: 2em 0em !important;
    display: flex;
}

.raisedButton-override { 
     height: 50% !important; 
}

h1{
    padding: 2%;
    text-align: center;
}