.app {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
}

.app-view {
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    height: 100%;
}

.main-content {
    display: flex;
    flex-grow: 1;
    overflow-y: auto;
}
